*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right, #3a4f8e, #001632);
}
.wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: minmax(45vw, auto);
}

.right-side {
	background-image: url("mundoweb.jpg");
	background-repeat: no-repeat;
	background-size: 150%;
	position: relative;
    height: 55em;
    top: -16px;
}

.layer {/*right side top layer*/
	background-image: linear-gradient(to right, rgba(58, 79, 142, 0.8), rgba(0, 22, 50, 0.8));
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.blinking{/* header blinking underscore*/
	animation:blinkingText 0.9s infinite;
    font-size: 6vw;
    
}
@keyframes blinkingText{
	0%{		color: #dce5f4;	}
	49%{	color: transparent;	}
	50%{	color: transparent;	}
	99%{	color: transparent;	}
	100%{	color: #dce5f4;	}
8ikj    0% { text-shadow: 3px 3px 3px #8d10b0; }
    49% { text-shadow: none; }
    50% { text-shadow: none; }
    99% { text-shadow: none; }
    100% { text-shadow: 3px 3px 3px #8d10b0; }
}

.heading {
	background-image: linear-gradient(to right, #3a4f8e, #001632);
	color: #dce5f4;
	text-align: center;
	font-size: 6vw;
	padding: 40px 0 40px 0;
	margin: 0;
	text-shadow: 3px 3px 3px #4d6bff;
	font-family: 'Audiowide', cursive;
}

.bio {/*about me section*/
	font-size: 1.5em;
	margin: 15px 13% 0 6%;
	color: white;
	position: relative;
	left: 4%;
}

.intro{
	margin-left: 20px;
	color: white;
}

.mypicture {
	position: relative;
    display: inline;
	width: 20%;
	border-radius: 25px;
    right: 13%;
    
}

.firstname {
	font-size: 5em;
	color: red;
	text-shadow: 3px 3px 3px #28118e;
	padding-left: 10px; 
	position: relative;
	bottom: 30px;
}

.lastname {
	font-size: 30px;
	color: lime;
	position: relative;
	left: 50%;
	bottom: 50px;
}

.navi ul{
	display: flex;
	justify-content: space-around;
	text-align: center;
	flex-wrap: wrap;
	list-style: none;
	margin: 5px;
}

.position {
	color: white;
    margin: 10px;
}
.lowerdash {
	color: red;
}
.link-div{/*all the links in one flex div*/
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 18vh;
    height: 50px;
    margin-bottom: 40px;
}

.link-image{/*when moving a link and image target the link only otherwise the image moves but the link stays*/
    flex-direction: row;
    margin-right: 20px;
}
.icon-img{/*the images for the links*/
    position: relative;
    top: -40px;
    width: 35px;
    height: 35px;
}

.linkedin-img{
    position: relative;
    top: -40px;
    width: 40px;
    height: 40px;
}

.headline-section{
    font-size: 1.7em;
    padding-left: 10%;
    background-color: #4c4f54;
    color: #c4c7ce;
    height: 40px;
    
}

.email{
    font-size: 1.5vw;
    display: flex;
    position: absolute;
    top: 31vw;
    left:69%;
}
.email-img{
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.alias{
    font-size: 3vw;
    display: inline-block;
    position: absolute;
    top: 22vw;
    left:40%;
}

.bio-link:link{
    color: aliceblue;
}

.chart{/*skills chart*/
    position: relative;
    width: 75% !important;
    height: 45% !important;
    margin: 10px 10% 10px 12%;
    border: 2px solid black;
    background-color: aliceblue;
    padding: 10px;
}
.projects{
    font-size: 1.3em;
    margin: 15px 10%;
    color: white;
}

.skill-section{
     font-size: 1.3em;
    margin: 15px 10%;
    color: white;
    list-style: none;
    display: inline-block;
}

.work-experience{
    font-size: 1.3em;
    margin: 15px 10%;
    color: white;
}
.career-objective{
    font-size: 1.3em;
    margin: 15px 10%;
    color: white;
}

.h2resume{
    color: white;
    text-align: center;
}

.work-experience{
    font-size: 1.3em;
    margin: 15px 10%;
    color: white;
}

.work-exp-li{
    font-size: 1.3em;
    margin: 15px 10%;
    color: white;
    list-style: none;
}

.work-section{
    background-color: #70a3f4;
    width: 90%;
    margin: auto;
}

.work-section1{
    background-color: #3462ad;
    width: 90%;
    margin: auto;
}

.projects * a{
    color: gray;
    text-decoration: none;
}
.projects * a:hover{
    color: #c4c7ce;
}

.certifications{
    margin: 10px 40px 10px 40px;
    width: 80%;
    height: 100%;
}

/*Media Queries below*/

@media (max-width: 1370px){
    .link-div{
        top: 70px;
    }
    .email{
        font-size: 2.5vw;
        left: 63%;
    }
}

@media (max-width: 1129px){
    .right-side{
        height: 65em;
        background-size: 200%;
    }
    .heading{
        height: 50vw;
    }
    .email{
        font-size: 3vw;
        left: 50%;
    }
}
@media (max-width: 924px){
    .right-side{
        height: 70em;
        background-size: 220%;
    }
}
@media (max-width: 818px){
    .right-side{
        height: 76em;
        background-size: 260%;
    }
    
    .heading{
        height: 50vw;
    }
    .email{
      font-size: 4vw;
      left: 36%;
    }

    .link-div{
        top: 100px;
    }
}

@media (max-width: 700px){
    .email{
        font-size: 3vw;
        top: 32vw;
        left: 36%;
    }
    
    .email-img{
        height: 30px;
        width: 30px;
    }
    
    .alias{
        font-size: 3vw;
        top: 27vw;
        left: 37%;
    }
    
    .link-div{
        top: 3vw;
    }
    
    .icon-img{
        width: 25px;
        height: 25px;
    }
    
    .linkedin-img{
        width: 30px;
        height: 30px;
    }
    
    .wrapper{
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }
    
    .firstname{
        font-size: 3em;
    }
    
    .lastname{
        display: block;
        top: 10px;
        left: 0;
        padding: 0;
    }
    
    .heading{
        font-size: 2em;
        height: 50vw;
    }
    
    .headline-section{
        clear: both;
    }
    
    .right-side{
        height: inherit;
        background-size: 410vw;
        height: 72em;
    }
    
    .left-side{
        height: 50px;
    }
    
    .mypicture{
        top: 5vw;
        right: 4%;
    }
    
    .bio{
        font-size: 1.3em;
        margin: 10px 10% 0 10%;
        left: auto;
    }
    
    .position{
        margin-left: 25px;
        font-size: 20px;
    }
    
    .intro{
        font-size: 20px;
    }
}

@media (max-width: 602px){
    .right-side{
        height: 73em;
        background-image: none;
    }
}
@media (max-width: 582px){
    .right-side{
        height: 90em;
    }
}

@media (max-width: 512px){
    .right-side{
        height: 98em;
    }

    .link-div{
        top: 50px;
    }
}


    @media (max-width: 376px){
    .right-side{
        height: 105em;
        }
        
        .heading{
            height: auto;
        }
        
        .alias{
            font-size: 4vw;
            top: 30vw;
        }
        
        .email{
            font-size: 4.3vw;
           top: 36vw; 
            left: 70px;
            align-items: center;
        }
        
        .link-div{
            top: 100px;
            left: 5px;
        }
         .mypicture{
            top: -5vw;
            right: 6%;
        }
}

        @media (max-width: 365px){
            .right-side{
                height: 108em;
            }
    
        .heading{
            height: auto;
            font-size: 1.3em;
        }
        .link-image{
            margin-right: 15px;   
        }
        .link-div{
            left: -15px;
            top: 100px;
        }
             .mypicture{
            top: -5vw;
            right: 9%;
        }
       
}

        @media (max-width: 321px){
            .right-side{
                height: 118em;
            }
            .link-div{
                top: 100px;
        }
    }







